.title {
    margin-top: 20px;
    text-align: start;
    font-size: 16px;
    font-weight: 600;
}

.wrapper {
    // position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;
    padding: 0 6px;
}


.updatenode__checkboxwrapper {
    margin-top: 10px;
    display: flex;
    // align-items: center;
}

.detail-item {
    margin: 5px 0;
}

.flow-item {
    display: flex;
    margin-top: 5px;

    .flow-label {
        min-width: 95px;
        line-height: 30px;
        text-align: end;
        margin-right: 6px;
        // border: 1px solid #d9d9d9;
        // background: #fafafa;
    }

}

.globalVariablesTable {
    cursor: pointer;
}

.show-dataSource {

    // display: none;
    :global {
        .ant-table-tbody {
            display: none;
        }
    }

}