.wrapper {
    display: flex;
}

.collapse {
    width: 340px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

    .submit {
        margin-left: 10px;
    }
}

// 数据统计
.datastatistics {
    padding-top: 100px;
    display: flex;

}

// 自定义文字样式
.customLabel {
    cursor: pointer;
    font-family: 'Microsoft Yahei';
}