.wrapper {
    display: flex;
    border-bottom: 1px solid #ccc;
    align-items: center;
}

// 导航栏之间的左右间隙距离
.nav-gap {
    margin: 0 10px;
}

.collapse {
    width: 340px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;

    .submit {
        margin-left: 10px;
    }
}

// 数据统计
.datastatistics {
    padding-top: 100px;
    display: flex;

}

// 自定义文字样式
.customLabel {
    cursor: pointer;
    font-family: 'Microsoft Yahei';
}