.bit-map-nav {
    /* display: flex;
    justify-content: space-between; */
    border-bottom: 1px solid #eee;
    padding-bottom: 4px;
}
.bit-map-nav-page{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}
.bit-map-nav-gap{
    margin:0 10px;
    cursor: pointer;
}
.content-page {
    display: flex;
    height: calc(100vh - 40px - 50px - 20px - 25px);
    margin-top: 10px;
}
.bit-map-left-page{
    width: 200px;
    margin-right: 10px;
}
.bit-map-right-page{
    display: flex;
}
.bit-map-page-resizable{
    position: absolute;
    width: 2px;
    height: 100%;
    background: transparent;
    right: -1px;
    top: 0;
    cursor: ew-resize;
} 
.bit-map-page-resizable:active {
    border: 1px solid #007fd4;
    background-color: #007fd4;
}
.bit-map-right-full-data-page{
    flex-grow: 1;
    border: 1px solid #d3e3ff;
    width: calc(100vw - 210px - 300px);
}
.echarts-canvas{
    width: calc(100vw - 440px);
    height: 750px;
}