@import url('../../mixin.less');

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 0;
  height: 0;
  border: @width solid #fc5531;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  cursor: grab;
}

.name {
  position: absolute;
  bottom: calc(50% + @width / 2);
}

.top {
  top: -@width - 2px;

  &::after {
    .after-top()
  }
}

.left {
  left: -(@width / 2);
  top: -(@width / 2 - 2px);

  &::after {
    .after-left()
  }
}

.right {
  right: -(@width / 2);
  top: -(@width / 2 - 2px);

  &::after {
    .after-right()
  }
}

.bottom {
  &::after {
    .after-bottom()
  }
}