.content {
    display: flex;
    align-items: center;
    cursor: pointer;

    .get {
        background: #7eaffb;
        width: 70px;
        color: white;
        font-weight: 800;
        padding: 6px 20px;
        border-radius: 6px,
    }

    .post {
        background: #81cc93;
        width: 70px;
        color: white;
        font-weight: 800;
        padding: 6px 20px;
        border-radius: 6px,
    }
}

.detailsWrapper {
    border: 2px solid #ccc;
    // margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    font-family: 'Microsoft Yahei';

    // background: #fafafa;
    .content {
        display: flex;

        .label {
            width: 80px;
        }

        // .right {}
    }
}