.fu-details-page{
    margin-top: 20px;
    height: calc(100vh - 42px - 40px - 60px - 48px);
    overflow-y: auto;
}

.level1 {
    background: #f0eded;
    border: 1px solid red;
    color: #ccc;
  }
  
  .level2 {
    background: #f5f5f5;
    color: #ccc;
    border: 1px solid red;
  }
  