.customNavPage-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.customNavPage-gap {
    margin: 0 5px;
}

.common {
    min-height: calc(100vh - 51px);
    padding-top: 20px;
}

.my-layout-content-dark {
    .common();
    background: #000;
}

.my-layout-content {
    .common();
    background: #fff;
}