.wrapper {
    padding: 30px 25px;
    border-radius: 3px;
    font-size: 12px;
    color: #222;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

.customNodeBody {
    width: 30px;
    height: 20px;
    border: 1px solid transparent;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: transparent;
}


div.customHandle {
    width: 100%;
    height: 100%;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    transform: none;
    border: none;
    opacity: 0;
    background: transparent;
}

.selected {
    border: 3px solid #a382ef;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}