.wrapper {
    display: flex;
    position: relative;
    height: calc(100vh - 80px);
}

.leftPage {
    width: 200px;
    background: #fba;
}

.isExpand {
    position: absolute;
    top: 30%;
    left: 200px - 16px;
}

.rightPage {
    flex: 1;
    background: #bfa;
}